In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
%matplotlib inline
import math
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.model_selection import train_test_split,KFold
import seaborn as sns

In [2]:
data_train=r'D:\Edvancer project\project data set\project -4 hizard\Hazard_train.csv'
data_test=r'D:\Edvancer project\project data set\project -4 hizard\Hazard_test_share.csv'
bd_train=pd.read_csv(data_train)
bd_test=pd.read_csv(data_test)

In [3]:
bd_train.head()

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,...,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15
0,83642,2,10,23,4,N,K,Y,B,D,...,2,37,1,11,2,Y,N,E,2,1
1,92530,6,3,18,2,B,H,N,B,B,...,2,34,1,12,7,Y,N,C,3,3
2,86131,4,5,20,4,B,K,N,B,B,...,1,40,1,17,4,Y,N,D,1,1
3,88666,1,4,7,5,N,H,N,B,B,...,2,37,1,11,6,Y,N,D,2,1
4,11122,21,10,21,6,N,C,Y,B,C,...,2,40,1,6,6,N,N,D,5,5

In [4]:
bd_train.dtypes,bd_train.shape

(Id         int64
 Hazard     int64
 T1_V1      int64
 T1_V2      int64
 T1_V3      int64
 T1_V4     object
 T1_V5     object
 T1_V6     object
 T1_V7     object
 T1_V8     object
 T1_V9     object
 T1_V10     int64
 T1_V11    object
 T1_V12    object
 T1_V13     int64
 T1_V14     int64
 T1_V15    object
 T1_V16    object
 T1_V17    object
 T2_V1      int64
 T2_V2      int64
 T2_V3     object
 T2_V4      int64
 T2_V5     object
 T2_V6      int64
 T2_V7      int64
 T2_V8      int64
 T2_V9      int64
 T2_V10     int64
 T2_V11    object
 T2_V12    object
 T2_V13    object
 T2_V14     int64
 T2_V15     int64
 dtype: object,
 (40799, 34))

In [5]:
bd_test.dtypes,bd_test.shape

(Id         int64
 T1_V1      int64
 T1_V2      int64
 T1_V3      int64
 T1_V4     object
 T1_V5     object
 T1_V6     object
 T1_V7     object
 T1_V8     object
 T1_V9     object
 T1_V10     int64
 T1_V11    object
 T1_V12    object
 T1_V13     int64
 T1_V14     int64
 T1_V15    object
 T1_V16    object
 T1_V17    object
 T2_V1      int64
 T2_V2      int64
 T2_V3     object
 T2_V4      int64
 T2_V5     object
 T2_V6      int64
 T2_V7      int64
 T2_V8      int64
 T2_V9      int64
 T2_V10     int64
 T2_V11    object
 T2_V12    object
 T2_V13    object
 T2_V14     int64
 T2_V15     int64
 dtype: object,
 (10200, 33))

In [6]:
bd_test["Hazard"]=np.nan
bd_train["data"]="train"
bd_test["data"]='test'
bd_test=bd_test[bd_train.columns]
bd_all=pd.concat([bd_train,bd_test],axis=0)
bd_all.head()

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,...,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15,data
0,83642,2.0,10,23,4,N,K,Y,B,D,...,37,1,11,2,Y,N,E,2,1,train
1,92530,6.0,3,18,2,B,H,N,B,B,...,34,1,12,7,Y,N,C,3,3,train
2,86131,4.0,5,20,4,B,K,N,B,B,...,40,1,17,4,Y,N,D,1,1,train
3,88666,1.0,4,7,5,N,H,N,B,B,...,37,1,11,6,Y,N,D,2,1,train
4,11122,21.0,10,21,6,N,C,Y,B,C,...,40,1,6,6,N,N,D,5,5,train

In [7]:
bd_all.dtypes

Id          int64
Hazard    float64
T1_V1       int64
T1_V2       int64
T1_V3       int64
T1_V4      object
T1_V5      object
T1_V6      object
T1_V7      object
T1_V8      object
T1_V9      object
T1_V10      int64
T1_V11     object
T1_V12     object
T1_V13      int64
T1_V14      int64
T1_V15     object
T1_V16     object
T1_V17     object
T2_V1       int64
T2_V2       int64
T2_V3      object
T2_V4       int64
T2_V5      object
T2_V6       int64
T2_V7       int64
T2_V8       int64
T2_V9       int64
T2_V10      int64
T2_V11     object
T2_V12     object
T2_V13     object
T2_V14      int64
T2_V15      int64
data       object
dtype: object

In [8]:
bd_all["T1_V4"].value_counts()

N    25112
B    12502
C     4869
W     3480
E     2702
S     1051
G      669
H      614
Name: T1_V4, dtype: int64

In [9]:
cat_cols=bd_all.select_dtypes(['object']).columns
cat_cols

Index(['T1_V4', 'T1_V5', 'T1_V6', 'T1_V7', 'T1_V8', 'T1_V9', 'T1_V11',
       'T1_V12', 'T1_V15', 'T1_V16', 'T1_V17', 'T2_V3', 'T2_V5', 'T2_V11',
       'T2_V12', 'T2_V13', 'data'],
      dtype='object')

In [10]:
cat_col=cat_cols[:-1]
cat_col

Index(['T1_V4', 'T1_V5', 'T1_V6', 'T1_V7', 'T1_V8', 'T1_V9', 'T1_V11',
       'T1_V12', 'T1_V15', 'T1_V16', 'T1_V17', 'T2_V3', 'T2_V5', 'T2_V11',
       'T2_V12', 'T2_V13'],
      dtype='object')

In [11]:
for col in cat_col:
    print('-----', col, '-----')
    print(bd_all[col].nunique()) # No. of unique values on the categorical col
    print(bd_all[col].unique()) # The actual unique values
    print(bd_all[col].value_counts())

----- T1_V4 -----
8
['N' 'B' 'C' 'W' 'E' 'S' 'G' 'H']
N    25112
B    12502
C     4869
W     3480
E     2702
S     1051
G      669
H      614
Name: T1_V4, dtype: int64
----- T1_V5 -----
10
['K' 'H' 'C' 'I' 'A' 'B' 'D' 'J' 'E' 'L']
K    14138
A    10900
H    10137
C     7845
I     4297
B     3335
J      188
D      149
L        5
E        5
Name: T1_V5, dtype: int64
----- T1_V6 -----
2
['Y' 'N']
N    28550
Y    22449
Name: T1_V6, dtype: int64
----- T1_V7 -----
4
['B' 'D' 'A' 'C']
B    47982
D     2126
A      546
C      345
Name: T1_V7, dtype: int64
----- T1_V8 -----
4
['D' 'B' 'C' 'A']
B    46391
D     2028
C     1547
A     1033
Name: T1_V8, dtype: int64
----- T1_V9 -----
6
['E' 'D' 'B' 'F' 'G' 'C']
D    23859
E    21491
B     2748
F     2432
C      251
G      218
Name: T1_V9, dtype: int64
----- T1_V11 -----
12
['H' 'L' 'B' 'N' 'A' 'E' 'J' 'I' 'F' 'K' 'M' 'D']
B    17047
H    15381
L     7003
J     6197
A     1556
I     1364
F      544
M      541
E      450
N      419
D      258
K      239
Name: T1_V11, dtype: int64
----- T1_V12 -----
4
['B' 'A' 'C' 'D']
B    46900
D     1574
C     1395
A     1130
Name: T1_V12, dtype: int64
----- T1_V15 -----
8
['A' 'C' 'N' 'W' 'H' 'D' 'S' 'F']
A    45680
N     1879
C     1652
D      758
H      524
W      230
S      191
F       85
Name: T1_V15, dtype: int64
----- T1_V16 -----
18
['K' 'B' 'I' 'R' 'D' 'A' 'M' 'J' 'O' 'E' 'Q' 'L' 'H' 'N' 'C' 'G' 'P' 'F']
I    9331
B    8933
R    8339
K    8159
A    2705
E    2599
J    2410
N    2277
D    1397
M    1264
C     808
L     729
G     484
P     459
H     408
Q     358
F     187
O     152
Name: T1_V16, dtype: int64
----- T1_V17 -----
2
['N' 'Y']
N    41183
Y     9816
Name: T1_V17, dtype: int64
----- T2_V3 -----
2
['N' 'Y']
N    34548
Y    16451
Name: T2_V3, dtype: int64
----- T2_V5 -----
6
['C' 'A' 'B' 'E' 'D' 'F']
A    33845
B    11201
C     5013
D      515
E      412
F       13
Name: T2_V5, dtype: int64
----- T2_V11 -----
2
['Y' 'N']
Y    36940
N    14059
Name: T2_V11, dtype: int64
----- T2_V12 -----
2
['N' 'Y']
N    41703
Y     9296
Name: T2_V12, dtype: int64
----- T2_V13 -----
5
['E' 'C' 'D' 'A' 'B']
E    27634
A    10260
C     7507
D     5084
B      514
Name: T2_V13, dtype: int64

In [12]:
for col in bd_all.columns:
    if (bd_all[col].isnull().sum()>500):
        
        print(col)

Hazard

In [13]:
for col in cat_col:
    k=bd_all[col].value_counts()
    cats=k[k>=100].index[:-1]
    
    for cat in cats:
        name=col+'_'+cat
        bd_all[name]=(bd_all[col]==cat).astype(int)
        
    del bd_all[col]
    print(col)

T1_V4
T1_V5
T1_V6
T1_V7
T1_V8
T1_V9
T1_V11
T1_V12
T1_V15
T1_V16
T1_V17
T2_V3
T2_V5
T2_V11
T2_V12
T2_V13

In [14]:
bd_all.shape

(50999, 94)

In [15]:
bd_all.head()

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V10,T1_V13,T1_V14,T2_V1,T2_V2,...,T2_V5_A,T2_V5_B,T2_V5_C,T2_V5_D,T2_V11_Y,T2_V12_N,T2_V13_E,T2_V13_A,T2_V13_C,T2_V13_D
0,83642,2.0,10,23,4,2,10,0,52,14,...,0,0,1,0,1,1,1,0,0,0
1,92530,6.0,3,18,2,8,10,3,39,14,...,1,0,0,0,1,1,0,0,1,0
2,86131,4.0,5,20,4,7,15,1,66,10,...,0,0,1,0,1,1,0,0,0,1
3,88666,1.0,4,7,5,8,15,3,48,11,...,0,1,0,0,1,1,0,0,0,1
4,11122,21.0,10,21,6,12,10,1,42,11,...,1,0,0,0,0,1,0,0,0,1

In [16]:
bd_all.describe()

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V10,T1_V13,T1_V14,T2_V1,T2_V2,...,T2_V5_A,T2_V5_B,T2_V5_C,T2_V5_D,T2_V11_Y,T2_V12_N,T2_V13_E,T2_V13_A,T2_V13_C,T2_V13_D
count,50999.000000,40799.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,...,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000
mean,50929.727897,4.009584,9.722093,12.847585,3.186004,7.020451,13.996255,1.578521,57.580051,12.419616,...,0.663640,0.219632,0.098296,0.010098,0.724328,0.817722,0.541854,0.201180,0.147199,0.099688
std,29314.685894,4.007785,5.167943,6.255743,1.739369,3.595279,4.647499,0.862882,23.499818,4.783411,...,0.472468,0.414001,0.297717,0.099982,0.446857,0.386077,0.498250,0.400887,0.354308,0.299587
min,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,5.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25660.500000,1.000000,6.000000,7.000000,2.000000,3.000000,10.000000,1.000000,40.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,50977.000000,3.000000,9.000000,14.000000,3.000000,8.000000,15.000000,1.000000,56.000000,11.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,76268.500000,5.000000,14.000000,18.000000,4.000000,8.000000,20.000000,2.000000,77.000000,15.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,101999.000000,69.000000,19.000000,24.000000,9.000000,12.000000,20.000000,4.000000,100.000000,39.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
bd_all.shape

(50999, 94)

In [19]:
bd_all=bd_all.drop(["Id"],1)

In [20]:
bd_all.shape

(50999, 93)

In [21]:
bd_all['data'].value_counts()

train    40799
test     10200
Name: data, dtype: int64

In [22]:
bd_all.head()

,Hazard,T1_V1,T1_V2,T1_V3,T1_V10,T1_V13,T1_V14,T2_V1,T2_V2,T2_V4,...,T2_V5_A,T2_V5_B,T2_V5_C,T2_V5_D,T2_V11_Y,T2_V12_N,T2_V13_E,T2_V13_A,T2_V13_C,T2_V13_D
0,2.0,10,23,4,2,10,0,52,14,8,...,0,0,1,0,1,1,1,0,0,0
1,6.0,3,18,2,8,10,3,39,14,13,...,1,0,0,0,1,1,0,0,1,0
2,4.0,5,20,4,7,15,1,66,10,8,...,0,0,1,0,1,1,0,0,0,1
3,1.0,4,7,5,8,15,3,48,11,11,...,0,1,0,0,1,1,0,0,0,1
4,21.0,10,21,6,12,10,1,42,11,11,...,1,0,0,0,0,1,0,0,0,1

In [23]:
ld_train=bd_all[bd_all['data']=='train']
del ld_train['data']
ld_test=bd_all[bd_all['data']=='test']
ld_test.drop(['Hazard','data'],axis=1,inplace=True)

In [24]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [25]:
ld_train1.reset_index(drop=True,inplace=True)
ld_train2.reset_index(drop=True,inplace=True)

In [26]:
x_train1=ld_train1.drop('Hazard',axis=1)
y_train1=ld_train1['Hazard']

x_train2=ld_train2.drop('Hazard',axis=1)
y_train2=ld_train2['Hazard']

In [27]:
from sklearn.model_selection import KFold,GridSearchCV,RandomizedSearchCV
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from xgboost.sklearn import XGBRegressor
from sklearn.metrics import mean_absolute_error

In [28]:
clf1=DecisionTreeRegressor()
clf2=RandomForestRegressor()
clf3=GradientBoostingRegressor(n_estimators=150,criterion ='mse',learning_rate=0.1)
clf4=XGBRegressor(n_estimators=200)

Algos=[clf1,clf2,clf3,clf4]

param={"criterion":['mse',"mae","poisson"],
    "max_depth":[None,5,10,15,20],
    "min_samples_split":[2,5,10,15],
    "min_samples_leaf":[1,2,5,10,15],
   "class_weight":[None,"balanced"],
   'splitter' : ['best', 'random'],
    "max_leaf_nodes":[None,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]}

neg_mean_absolute_error

In [29]:
rows=x_train1.shape[0]
rows

32639

In [30]:
layer1=pd.DataFrame({'clf1':np.zeros(rows),'clf2':np.zeros(rows),'clf3':np.zeros(rows),
                    'clf4':np.zeros(rows),})
layer1

       clf1  clf2  clf3  clf4
0       0.0   0.0   0.0   0.0
1       0.0   0.0   0.0   0.0
2       0.0   0.0   0.0   0.0
3       0.0   0.0   0.0   0.0
4       0.0   0.0   0.0   0.0
...     ...   ...   ...   ...
32634   0.0   0.0   0.0   0.0
32635   0.0   0.0   0.0   0.0
32636   0.0   0.0   0.0   0.0
32637   0.0   0.0   0.0   0.0
32638   0.0   0.0   0.0   0.0

[32639 rows x 4 columns]

In [31]:
kf=KFold(n_splits=10)

In [32]:
fold=1
for train,left_out_chunk in kf.split(x_train1):
    print('fold number : ', fold)
    
    for i,clf in enumerate(Algos):
        print('Algo number :',i+1)
        
        x_train_train=x_train1.loc[train]
        y_train_train=y_train1[train]
        x_train_left_out_chunk=x_train1.loc[left_out_chunk]
        
        clf.fit(x_train_train,y_train_train)  
        p=clf.predict(x_train_left_out_chunk)
        
        layer1.iloc[left_out_chunk,i]=p
        
    fold+=1

fold number :  1
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  2
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  3
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  4
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  5
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  6
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  7
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  8
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  9
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4
fold number :  10
Algo number : 1
Algo number : 2
Algo number : 3
Algo number : 4

In [33]:
layer1

       clf1  clf2      clf3      clf4
0      10.0  3.60  3.760077  2.341724
1       1.0  5.07  4.476586  4.661085
2       8.0  6.39  4.462052  6.942476
3       4.0  3.52  3.826213  2.229423
4       3.0  7.19  6.161493  5.624158
...     ...   ...       ...       ...
32634   2.0  4.23  3.769732  4.812116
32635   6.0  4.65  4.159134  3.921528
32636   4.0  3.52  3.824523  3.737833
32637   4.0  7.47  5.651750  6.491164
32638   2.0  3.25  3.160077  2.770338

[32639 rows x 4 columns]

In [34]:
rows=x_train2.shape[0]
layer2_train2=pd.DataFrame({'clf1':np.zeros(rows),'clf2':np.zeros(rows),'clf3':np.zeros(rows),
                    'clf4':np.zeros(rows)})

In [35]:
for i,clf in enumerate(Algos):
    print( 'Algo number',i+1)
    clf.fit(x_train1,y_train1)
    p=clf.predict(x_train2)
    
    layer2_train2.iloc[:,i]=p

Algo number 1
Algo number 2
Algo number 3
Algo number 4

In [36]:
layer2_train2

      clf1  clf2      clf3      clf4
0      6.0  4.45  3.848584  4.774874
1      1.0  1.52  2.127214  1.184697
2      1.0  2.94  3.704388  3.246691
3      1.0  1.96  3.130804  2.657285
4      4.0  3.08  3.447785  1.764669
...    ...   ...       ...       ...
8155   2.0  3.78  3.594283  2.123735
8156   1.0  2.43  3.034399  2.704875
8157   4.0  4.23  4.468112  4.312913
8158   1.0  5.42  6.049677  6.714659
8159  14.0  7.01  5.722609  7.902061

[8160 rows x 4 columns]

In [37]:
lm=LinearRegression()

In [38]:
lm.fit(layer1,y_train1)

LinearRegression()

In [39]:
mae=mean_absolute_error(y_train2,lm.predict(layer2_train2))

In [40]:
score=1-(mae/5.4)
score

0.4981206448132941

In [ ]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

In [41]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV
lambdas=np.linspace(0.001,5,100)

In [42]:
params={'alpha':lambdas}

In [45]:
model1=Ridge(fit_intercept=True,normalize=True,max_iter=500,random_state=2)
grid_search=GridSearchCV(model1,param_grid=params,cv=10,scoring='neg_mean_absolute_error',n_jobs=-1)

In [46]:
grid_search.fit(layer1,y_train1)

GridSearchCV(cv=10,
             estimator=Ridge(max_iter=500, normalize=True, random_state=2),
             n_jobs=-1,
             param_grid={'alpha': array([1.00000000e-03, 5.14949495e-02, 1.01989899e-01, 1.52484848e-01,
       2.02979798e-01, 2.53474747e-01, 3.03969697e-01, 3.54464646e-01,
       4.04959596e-01, 4.55454545e-01, 5.05949495e-01, 5.56444444e-01,
       6.06939394e-01, 6.57434343e-01, 7.07929293e-01, 7.5842424...
       3.83861616e+00, 3.88911111e+00, 3.93960606e+00, 3.99010101e+00,
       4.04059596e+00, 4.09109091e+00, 4.14158586e+00, 4.19208081e+00,
       4.24257576e+00, 4.29307071e+00, 4.34356566e+00, 4.39406061e+00,
       4.44455556e+00, 4.49505051e+00, 4.54554545e+00, 4.59604040e+00,
       4.64653535e+00, 4.69703030e+00, 4.74752525e+00, 4.79802020e+00,
       4.84851515e+00, 4.89901010e+00, 4.94950505e+00, 5.00000000e+00])},
             scoring='neg_mean_absolute_error')

In [47]:
rg=grid_search.best_estimator_
rg.fit(layer1,y_train1)

Ridge(alpha=0.001, max_iter=500, normalize=True, random_state=2)

In [50]:
mae1=mean_absolute_error(y_train2,rg.predict(layer2_train2))

In [51]:
abs(grid_search.best_score_)

2.6992345396758792

In [52]:
score=1-(mae1/5.4)
score

0.49830237717059445

In [53]:
model=Lasso(fit_intercept=True,normalize=True,max_iter=1000,random_state=2)
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error',n_jobs=-1)
grid_search.fit(layer1,y_train1)

GridSearchCV(cv=10, estimator=Lasso(normalize=True, random_state=2), n_jobs=-1,
             param_grid={'alpha': array([1.00000000e-03, 5.14949495e-02, 1.01989899e-01, 1.52484848e-01,
       2.02979798e-01, 2.53474747e-01, 3.03969697e-01, 3.54464646e-01,
       4.04959596e-01, 4.55454545e-01, 5.05949495e-01, 5.56444444e-01,
       6.06939394e-01, 6.57434343e-01, 7.07929293e-01, 7.58424242e-01,
       8.08919...
       3.83861616e+00, 3.88911111e+00, 3.93960606e+00, 3.99010101e+00,
       4.04059596e+00, 4.09109091e+00, 4.14158586e+00, 4.19208081e+00,
       4.24257576e+00, 4.29307071e+00, 4.34356566e+00, 4.39406061e+00,
       4.44455556e+00, 4.49505051e+00, 4.54554545e+00, 4.59604040e+00,
       4.64653535e+00, 4.69703030e+00, 4.74752525e+00, 4.79802020e+00,
       4.84851515e+00, 4.89901010e+00, 4.94950505e+00, 5.00000000e+00])},
             scoring='neg_mean_absolute_error')

In [54]:
ls=grid_search.best_estimator_
mean_absolute_error(y_train2,ls.predict(layer2_train2))

2.7142459248979725

In [50]:
score=1-(2.71/5.4)
score

0.49814814814814823

In [51]:
abs(grid_search.best_score_)

2.7054793176647083

In [55]:
from sklearn.ensemble import RandomForestRegressor
from scipy.stats import randint as sp_randint
from sklearn.model_selection import RandomizedSearchCV

In [68]:
rf=RandomForestRegressor()

In [165]:
def report(grid_scores, n_top=3):
    top_scores = sorted(grid_scores, key=itemgetter(1), reverse=True)[:n_top]
    # above line selects top n grid scores
    # for loop below , prints the rank, score and parameter combination
    for i, score in enumerate(top_scores):
        print("Model with rank: {0}".format(i + 1))
        print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
              score.mean_validation_score,
              np.std(score.cv_validation_scores)))
        print("Parameters: {0}".format(score.parameters))
        print("")

In [70]:
param_dist = {"n_estimators":[10,100,500,700],
              "max_depth": [3,5, None],
              "max_features": ["auto","sqrt","log2"],
              "min_samples_split": sp_randint(5, 11),  
              "min_samples_leaf": sp_randint(5, 11),
              "bootstrap": [True, False],
              "criterion": ["mse", "mae"]}

In [71]:
random_search=RandomizedSearchCV(rf,param_distributions=param_dist,scoring="neg_mean_absolute_error",n_jobs=-1,n_iter=10,cv=10)


#report(random_search.grid_scores_)

In [97]:
RF=RandomForestRegressor(n_estimators=100,criterion='mse',n_jobs=-1,random_state=300,max_features='log2')

In [98]:
RF1=RF.fit(layer1,y_train1)

In [99]:
m1=mean_absolute_error(y_train2,RF1.predict(layer2_train2))
m1

2.8361102941176473

In [100]:
score=1-(m1/5.4)
score

0.47479438997821355

In [138]:
clf3=GradientBoostingRegressor(n_estimators=50,criterion ='mse',learning_rate=0.1)

In [139]:
gbr=clf3.fit(layer1,y_train1)

In [140]:
mae3=mean_absolute_error(y_train2,gbr.predict(layer2_train2))
mae3

2.717663954689574

In [141]:
score=1-(mae3/5.4)
score

0.4967288972797086

In [46]:
gbr0=GradientBoostingRegressor(n_estimators=100,criterion ='mae',learning_rate=0.1)

In [47]:
gbr1=gbr0.fit(layer1,y_train1)

In [48]:
m4=mean_absolute_error(y_train2,gbr1.predict(layer2_train2))
m4

2.5695949952006027

In [49]:
score=1-(m4/5.4)
score

0.5241490749628513

In [50]:
gbr2=GradientBoostingRegressor(n_estimators=100,criterion ='mae',learning_rate=0.01)

In [51]:
gbr3=gbr2.fit(layer1,y_train1)

In [52]:
m5=mean_absolute_error(y_train2,gbr3.predict(layer2_train2))
m5

2.6255121987757035

In [55]:
score=1-(m5/5.4)
score

0.5137940372637586

In [53]:
gbr50=GradientBoostingRegressor(n_estimators=50,criterion ='mae',learning_rate=0.01)
gbr50a=gbr50.fit(layer1,y_train1)
m6=mean_absolute_error(y_train2,gbr50a.predict(layer2_train2))
m6

2.6912993018964855

In [56]:
score=1-(m6/5.4)
score

0.5016112403895397

In [54]:
gbr51=GradientBoostingRegressor(n_estimators=50,criterion ='mae',learning_rate=0.1)
gbr51a=gbr51.fit(layer1,y_train1)
m7=mean_absolute_error(y_train2,gbr51a.predict(layer2_train2))
m7

2.5658689587154115

In [85]:
score=1-(m7/5.4)
score

0.5248390817193682

In [86]:
x_train=ld_train.drop('Hazard',axis=1)
y_train=ld_train['Hazard']

In [87]:
gbr51.fit(x_train,y_train)

GradientBoostingRegressor(criterion='mae', n_estimators=50)

In [88]:
test_pred=gbr51.predict(ld_test)

In [92]:
test_pred.shape

(10200,)

In [95]:
pd.DataFrame(test_pred).to_csv("Predict Hazard Ratings for a maintance.csv",index=False)